body
{
    margin:0px;
}
.top-container
{
    /* height:200px;
    width:100%; */
    background-color: #497174;
}
h1
{
    margin:0px;
}
p
{
    font-family: 'Montserrat', sans-serif;
}
.title
{
    text-align: center;
    font-family: 'Fredoka One', cursive;
    /* margin:10px 10px; */
    color:#F5F5F5;
    padding-top: 10px;
    padding-bottom: 10px;
}
.buttons
{
    display:block;
    height:50px;
    width:100%;
    text-align: center;
    margin-top: 30px;
    position: relative;
}
a
{
    text-decoration: none;
    color:black;
    margin-left: 50px;
    font-family: 'Montserrat', sans-serif;
    border-color: black;
    border-style: none;
    background-color: #EFF5F5;
    padding:5px 5px;
    border-radius: 10px;
}
.btn
{
    position:absolute;
    right:150px;
}
.range-function
{
    display:inline-block;
    margin-left:110px;
    margin-bottom: 50px;
}
.speed-function
{
    display:inline-block;
    margin-left: 110px;
}
.left-container
{
    display:inline-block;
    width:20%;
    height:480px;
    background-color: bisque;
    text-align: center;
}
.middle-container
{
    display:inline-block;
    width: 59.39%;
    height: 480px;
    background-color: #e58304;
    text-align: center;
}
.right-container
{
    display:inline-block;
    width: 20%;
    height: 480px;
    background-color: bisque;
    text-align: center;
}
.form
{
    display:inline-block;
    margin-left:110px;
}
#form-id,#form-id1
{
    border-radius: 10px;
    border-style: none;
}
.note
{
    display:inline-block;
    margin-left: 110px;
}
a:hover
{
    color:#903749;
}